pkgbase = wee-slack
	pkgdesc = A WeeChat plugin for Slack.com
	pkgver = 2.10.1
	pkgrel = 1
	url = https://github.com/wee-slack/wee-slack/
	install = wee-slack.install
	arch = any
	license = MIT
	depends = weechat
	depends = python-websocket-client
	conflicts = wee-slack-git
	source = wee-slack_2.10.1.tar.gz::https://github.com/wee-slack/wee-slack/archive/v2.10.1.tar.gz
	sha512sums = 15d8ba9ab39015fa17aa600c3e8d29920ed8d9b97fafaa0fdb2ad516a7d90d2f64fbba4926adca559e8146d47d9fdcb1ea32c8b9f41c6d634bc13e82ec84f698

pkgname = wee-slack
