pkgbase = google-cloud-sdk-datastore-emulator
	pkgdesc = A google-cloud-sdk component that provides local emulation of a Datastore environment.
	pkgver = 408.0.1
	pkgrel = 1
	url = https://cloud.google.com/sdk/
	arch = x86_64
	license = Apache
	depends = google-cloud-sdk
	depends = java-runtime
	options = !strip
	source = https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-sdk-datastore-emulator_408.0.1.orig.tar.gz
	sha256sums = 6fa8196ec0115fb5ee28560460880dfbaa7c85f75190a0a5deec4c548f5e4933

pkgname = google-cloud-sdk-datastore-emulator
