pkgbase = buildozer
	pkgdesc = A command line tool to rewrite Bazel BUILD files using standard conventions
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/bazelbuild/buildtools
	arch = x86_64
	license = Apache
	makedepends = bazel
	makedepends = git
	source = buildozer-3.4.0.tar.gz::https://github.com/bazelbuild/buildtools/archive/3.4.0.tar.gz
	md5sums = 011028c4e4107156fa9d507bbf2a7b38

pkgname = buildozer

