pkgbase = google-cloud-sdk-app-engine-java
	pkgdesc = A google-cloud-sdk component that provides the Java runtime for AppEngine.
	pkgver = 408.0.1
	pkgrel = 1
	url = https://cloud.google.com/sdk/
	arch = x86_64
	license = Apache
	depends = google-cloud-sdk
	depends = java-environment
	options = !strip
	source = https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-sdk-app-engine-java_408.0.1.orig.tar.gz
	sha256sums = 999bcf58d72bcb6c68553231d4e981dea4354a2476d5771ee604174b16b79673

pkgname = google-cloud-sdk-app-engine-java
