pkgbase = buildifier-bin
	pkgdesc = A command line tool to format Bazel BUILD files
	pkgver = 6.0.1
	pkgrel = 1
	url = https://github.com/bazelbuild/buildtools
	arch = x86_64
	license = Apache
	source = buildifier-6.0.1::https://github.com/bazelbuild/buildtools/releases/download/6.0.1/buildifier-linux-amd64
	source = LICENSE-6.0.1::https://raw.githubusercontent.com/bazelbuild/buildtools/6.0.1/LICENSE
	sha256sums = 0e0f00a5053d697e1644d1b660dc1fb81b55838519751dd2f09eb1bd84c6b51c
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = buildifier-bin
