pkgbase = google-cloud-sdk
	pkgdesc = A set of command-line tools for the Google Cloud Platform. Includes gcloud (with beta and alpha commands), gsutil, and bq.
	pkgver = 408.0.1
	pkgrel = 1
	url = https://cloud.google.com/sdk/
	arch = x86_64
	license = Apache
	depends = python
	optdepends = python2: for dev_appserver.py and endpointscfg support
	optdepends = python-crcmod: [gsutil] verify the integrity of GCS object contents
	options = !strip
	options = staticlibs
	source = https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-sdk_408.0.1.orig.tar.gz
	source = google-cloud-sdk.sh
	source = 0001-set-python2-for-dev-appserver-py.patch
	source = 0002-add-compdef-to-zsh-completion.patch
	source = 0003-collections-abc.patch
	sha256sums = 2e6c848c03edae288e46ffd087d0122aee57d8b55cb71f3a8089d8920d2cbc42
	sha256sums = ecd7b3895f6ecf1c6411f385bee3a4b64139976d72069469d323c8a09b97aaea
	sha256sums = 62ec7f56e09168d375823e9e99fcdcfbf40b0fffdd75f35cf91122c5902c82e9
	sha256sums = 4694f5191ceea7cf8076861ce5790ba9e809023da278b0f6ed862b9611e5aa93
	sha256sums = 41099eb9168eb2b8dcd124fb46e51fc1c527d9bdca2c0f7b4c3a047cf75ad22e

pkgname = google-cloud-sdk
